@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Input{
  border: gray;
}


.login:hover{
  cursor: pointer;
  text-decoration: underline;
}


  .nav-menu{
    background-color: black;
    position: fixed;
    left: -100%;
    transition: 850ms;
    height: 100vh;
  }

.nav-menu.active{
  left: 0;
  transition: 350ms;
}

