.form{
    @include flex(column,center);
    background-color: white;
    align-items: center;
    padding: 1rem;
    width: 25rem;
    border-radius: 5px;
    display: block;
    margin: auto;
    border: 1px solid rgb(211,211,211);
    margin-top: 4rem;
    height: 25rem;
    @media (max-width: 767px) {
        width: 22rem !important;
    }
}