.mobile__footer {
  display: none !important;
}
@media (max-width: 767px) {
  .mobile__footer {
    // @include flex(row, space-between);
    display: flex !important;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: .2rem;
  }
}

