@import "~antd/dist/antd.css";
// @import './navbar';
@import './flex';
@import './btn';
@import './form';
@import './productmanage';
@import './mobilefooter';
@import './mobilenavbar';
@import './desktopfooter';
@import './desktopnavbar';
@import './accountsettings';
@import './variables';
@import './desktoprelated';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  background-color: #f3f4f7;
}

@media (max-width:767px){
  body{
    background-color: white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mobile__carousel {
  display: none !important;
}

.mobile__navbar {
  display: none !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    display: inline-block;
    font-size: 20px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    /* background-color: cornflowerblue; */
    color: rgb(40, 44, 53);
  }
  .carousel__header {
    display: none;
  }
  .desktop__carousel {
    display: none;
  }
  .mobile__carousel {
    display: block !important;
  }
  .mobile__navbar {
    display: block !important;
  }
}

.tableClass tr,
td,
th {
  border: 0.11rem solid whitesmoke;
  padding: 0.5rem;
}

.image {
  height: 160px;
  animation: loader 1s infinite ease-in-out;
  --webkit-animation: loader 1s infinite ease-in-out;
}
.content {
  @include flex(row,center);
  align-items: center;
}
.avatar {
  border-radius: 100px;
  margin-top: 1rem;
  animation: loader 1s infinite ease-in-out;
  --webkit-animation: loader 1s infinite ease-in-out;
  width: 3.3rem;
  height: 2.65rem;
}
.item-name {
  animation: loader 1s infinite ease-in-out;
  --webkit-animation: loader 1s infinite ease-in-out;
  height: 1rem;
}
.item-price {
  animation: loader 1s infinite ease-in-out;
  --webkit-animation: loader 1s infinite ease-in-out;
  height: 1rem;
  width: 5rem;
}
.body {
  width: 15rem;
  background-color: white;
  padding-bottom: 2rem;
}
.sizing {
  max-width: "83%";
  float: "right";
  margin-top: "1rem";
  margin-bottom: "1rem";
}
@media (max-width: 767px) {
  .body {
    width: 18rem;
  }
  .sizing {
    @include flex(column,center );
    max-width: 100%;
    width: 100%;
    align-items: center;
    float: none;
  }
}

@keyframes loader {
  0% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  50% {
    background-color: rgba(158, 165, 165, 0.4);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.3);
  }
}

@-webkit-keyframes loader {
  0% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  50% {
    background-color: rgba(158, 165, 165, 0.4);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.3);
  }
}

.details {
  width: 45rem;
  background-color: white;
  height: 22rem;
}
.details-item {
  @include flex(row,space-around );
  align-items: center;
}
.details-img {
  width: 15rem;
  height: 12rem;
  margin-top: 1rem;
  animation: loader 1s infinite ease-in-out;
  --webkit-animation: loader 1s infinite ease-in-out;
}
.details-div {
  background-color: gray;
  margin: 0.5rem 0 0.5rem 0;
  // margin-top: 0.5rem;
  // margin-bottom: 0.5rem;
  width: 15rem;
  height: 1rem;
  animation: loader 1s infinite ease-in-out;
  --webkit-animation: loader 1s infinite ease-in-out;
}
.details-reviews {
  background-color: gray;
  margin: 0.5rem 0 0.5rem 0;
  // margin-top: 0.5rem;
  // margin-bottom: 0.5rem;
  height: 1rem;
  width: 10rem;
  animation: loader 1s infinite ease-in-out;
  --webkit-animation: loader 1s infinite ease-in-out;
}
.details-category {
  background-color: gray;
  margin: 0.5rem 0 0.5rem 0;
  // margin-top: 0.5rem;
  // margin-bottom: 0.5rem;
  height: 1rem;
  width: 12rem;
  animation: loader 1s infinite ease-in-out;
  --webkit-animation: loader 1s infinite ease-in-out;
}

.description {
  background-color: gray;
  margin: 1rem 1rem 0 1rem;
  // margin-top: 1rem;
  // margin-left: 1rem;
  // margin-right: 1rem;
  padding: 1rem;
  animation: loader 1s infinite ease-in-out;
  --webkit-animation: loader 1s infinite ease-in-out;
}

Input {
  border: gray;
}

.login:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-menu {
  background-color: black;
  position: fixed;
  left: -100%;
  transition: 850ms;
  height: 100vh;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  position: fixed;
  top: 45px;
}

.loader {
  border: 5px solid #F4C430;
  border-radius: 50%;
  border-top: 5px solid transparent;
  width: 5px;
  height: 5px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

/* safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

